# USBasp - USB programmer for Atmel AVR controllers
# Copy this file to /etc/udev/rules.d so

# Set Group for USBasp
SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", GROUP="uucp"
